@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  -webkit-font-smoothing: antialiased
}


body {
  background-image: url(https://bytegrad.com/course-assets/css/2/pattern.svg);

  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 90%);

}